{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/strict",
    "plugin:@typescript-eslint/stylistic"
  ],
  "plugins": [
    "@typescript-eslint",
    "@stylistic"
  ],
  "rules": {
    "@stylistic/comma-dangle": [
      "warn",
      "always-multiline"
    ],
    "@typescript-eslint/no-extraneous-class": [
      "error",
      {
        "allowWithDecorator": true
      }
    ],
    "@typescript-eslint/no-unused-vars": [
      "error",
      {
        "args": "all",
        "argsIgnorePattern": "^_",
        "caughtErrors": "all",
        "caughtErrorsIgnorePattern": "^_",
        "destructuredArrayIgnorePattern": "^_",
        "varsIgnorePattern": "^_",
        "ignoreRestSiblings": true
      }
    ]
  },
  "parserOptions": {
    "sourceType": "module"
  },
  "env": {
    "node": true
  },
  "ignorePatterns": [
    "node_modules",
    "dist"
  ]
}